body {
    background-color: red;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    margin: 75px 25px 25px;
    padding: 5px;
    width: 100vh;
    height: fit-content;
}

.secondary {
    color: black;
}

.sticker {}